html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222;
    background: #fff;
}
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.about, .store {
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
}
.header-spacer {
    display: inline-block;
    flex-grow: 1;
    display: flexbox;
}
.header-right {
    display: flex;
    box-sizing: border-box;
    padding-left: 32px;
    height: 48px;
    align-items: center;
    justify-content: flex-end;

}
.gmail, .images {
    padding: 6px;
    
}
.google-icons {
    padding-left: 0px;
    white-space: nowrap;
    justify-content: center;
}
.google-apps {
    height: 20px;
    padding-right: px;
    position: relative;
    bottom: 5px;
}
.profile-picture {
    height: 30px;
    padding-top: 2px;
}